<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- Level 1 -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<!-- Level 2 -->
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>

	<runtime>
		<gcServer enabled="true"/>
		<gcConcurrent enabled="true"/>

		<assemblyBinding>
			<!--<probing aprivatePath="bin;bin2\subbin;bin3"/>-->
		</assemblyBinding>
	</runtime>

	<appSettings>
		<!--<add key="minet:serverStartup" value="StartupDemo.ProductionStartup" />-->
	</appSettings>
	

</configuration>